# 2.3 변수와 입력

- 변수

In [1]:
pi = 3.1415926535
pi + 2

5.1415926535

In [3]:
radius = 10
print(f'원의 둘레는: { 2 * radius * pi}')
print(f'원의 면적:{pi * radius **2}')

원의 둘레는: 62.83185307
원의 면적:314.15926535

- 복합 대입 연산자( +=,*=,-=,....)

In [6]:
odd_sum = 0
for i in range(1,100,2):
    odd_sum += i
print(odd_sum)

2500

In [7]:
ten_factorial =1
for i in range(1,11):
    ten_factorial *=i
print(ten_factorial)

3628800

In [8]:
hello =''
for i in range(3):
    hello +='안녕!'        #hello = '안녕'*3
print(hello)

안녕!안녕!안녕!

- 표기법

In [11]:
# Snake nototion
my_height =175           #myheight,camel nototoin
my_wight =70             #myweight,java ,js 에서 사용

In [13]:
한글변수 =5
print(한글변수)

5

- 여러개의 변수

In [14]:
x,y ,z = 10,20,30         #tuple unpacking

In [18]:
# Swapping(x와 y의 값을 서로 바꿈)이 편리
#일반적인 언어
temp = x
x = y
y = temp
x,y

(20, 10)

In [19]:
# 파이썬에서는 아래와 같이 사용 가능
x ,y =y ,x
x,y

(10, 20)

- 값이 없을 경유

In [20]:
x =None                #java,js의 null에

- 입력(input)

In [21]:
a =input('prompt>')
a,type(a)

('10', str)

In [26]:
#type 변환을 하지 않으면 엉뚱한 결과가 발생함
a =input('첫번째 정수를 입력하세요')       #3
b =input('두번째 정수를 입력하세요')       #4
a + b

'34'

In [27]:
a =int(input('첫번째 정수를 입력하세요'))
b =int(input('두번째 정수를 입력하세요'))
a + b

7

In [30]:
# 인치 단위를 센치미터 단위로 변환
inch = float(input('인치값 입력>'))
cm = inch * 2.54
print(f'{inch}인치는 {cm:.2f}센치미터 입니다.')

5.4인치는 13.72센치미터 입니다.

- 입력값 여려개 받기

In [31]:
# 문자열 spilit () method
'10 20'.split()             #spilt 괄호안을 생략하면 ''

['10', '20']

In [32]:
a, b ='10 20'.split()
a,b

('10', '20')

In [35]:
a,b =input('두개의 숫자 입리력>').split()
a,b

('3', '4')

In [40]:
a,b =input('두개의 숫자 입리력(,로 구분)>').split(',')
a,b

('3', '4')

In [41]:
# list 각 원소(element)에 함수를 적용하는 방법 :map
list(map(int,['10','20']))         #[int('10),int('20)]

[10, 20]

In [42]:
a,b =map(int,['10','20'])
a,b

(10, 20)

In [49]:
# 첫번째 split()과 두번째 map()을 결합
a,b =map(int,input('두개의 숫자 입력').split())
a,b, a+b

(3, 4, 7)

In [54]:
# x,y,z에 세개의 실수 입력값을 지정
x,y,z =map(float,input('세개의 숫자 입력').split())
x,y,z,x+y+z

(2.5, 6.7, 1.4, 10.6)

In [55]:
7 + (10 - 5) * 2

17

In [56]:
int(0.2467 * 12 + 4.159)

7

In [68]:
a,b,c,d = map(int, input().split())
print((a+b+c+d)//4)

50

In [77]:
print('Hello\nPython')

Hello
Python