# 2.3 변수와 입력

- 변수

In [1]:
pi = 3.1415926535
pi + 2

5.1415926535

In [3]:
radius = 10
print(f'원의 둘레는: { 2 * radius * pi}')
print(f'원의 면적:{pi * radius **2}')

원의 둘레는: 62.83185307
원의 면적:314.15926535

- 복합 대입 연산자( +=,*=,-=,....)

In [6]:
odd_sum = 0
for i in range(1,100,2):
    odd_sum += i
print(odd_sum)

2500

In [7]:
ten_factorial =1
for i in range(1,11):
    ten_factorial *=i
print(ten_factorial)

3628800

In [8]:
hello =''
for i in range(3):
    hello +='안녕!'        #hello = '안녕'*3
print(hello)

안녕!안녕!안녕!

- 표기법

In [11]:
# Snake nototion
my_height =175           #myheight,camel nototoin
my_wight =70             #myweight,java ,js 에서 사용

In [13]:
한글변수 =5
print(한글변수)

5

_ 여러개의 변수

In [14]:
x,y ,z = 10,20,30         #tuple unpacking

In [18]:
# Swapping(x와 y의 값을 서로 바꿈)이 편리
#일반적인 언어
temp = x
x = y
y = temp
x,y

(20, 10)

In [19]:
# 파이썬에서는 아래와 같이 사용 가능
x ,y =y ,x
x,y

(10, 20)

- 값이 없을 경유

In [20]:
x =None                #java,js의 null에 해당

- 입력(input)

In [21]:
a =input('prompt>')
a,type(a)

('10', str)

In [24]:
a =input('첫번째 정수를 입력하세요')
b =input('두번째 정수를 입력하세요')
a + b

'115'