#### 22.10 
표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1~20, 두 번째 입력 값의 범위는 10~30이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 첫 번째 정수부터 두 번째 정수까지를 지수로 하는 2의 거듭제곱 리스트를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 리스트의 두 번째 요소와 뒤에서 두 번째 요소는 삭제한 뒤 출력하세요. 출력 결과는 리스트 형태라야 합니다.

In [8]:
start, stop = map(int, input().split())
power_of_2 = [2**i for i in range(start, stop+1)]
del power_of_2[1]
del power_of_2[-2]
print(power_of_2)

[2, 8, 16, 32, 64, 128, 256, 512, 1024, 4096]

In [9]:
m,n = map(int, input().split())
if 1<m<=20 and 10<=n<=30 and m<n:
    power_list = []
    for i in range(m,n+1):
        power_list.append(2**i)
    del power_list[1],power_list[-2]
    print(power_list)

In [10]:
m,n = map(int, input().split())
if 1<m<=20 and 10<=n<=30 and m<n:
    power_list =[2**i for i in range(m,n+1)]
    del power_list[1],power_list[-2]
    print(power_list)

In [11]:
a = [10, 20, 30, 40]
a

[10, 20, 30, 40]

In [12]:
a = [[10, 20], [30, 40], [50, 60]]
 
i = 0
while i < len(a):
    j = 0
                        
    print(a[i][j], end=' ')
    j += 1
    print()
    i+= 1

10
30
50

In [13]:
path = 'C:\\Users\\dojang\\AppData\\Local\\Programs\\Python\\Python36-32\\python.exe'
filename = path[path.rfind('\\') + 1:]
print(filename)

python.exe

#### 23.7 지뢰찾기

In [60]:
def print_mines(m):
    for row in m :
        for element in row:
            print(element,end=' ')
        print()

In [61]:
import random
row,col =map(int,input().split())
mines =[['*' if random.random() > 0.7 else '.' for _ in range(col)]for _ in range (row)]
print_mines(mines)

. . . * . . . . . *
* * * . . . * * . .
. * * . * * . . . .
. * . * . * . . * .
. * . . . . * . . .
. * * . . . . . . .

In [53]:
pad_mines =[['.']*(col + 2)]             # 맨 윗줄
for pad_row in mines:
    line =['.']                        # 맨 윗줄과 아랫줄을 제외한 줄
    """for element in pad_row:
        line.append(element) """
    line.extend(pad_row)
    line.append('.')
    pad_mines.append(line)
pad_mines.append(['.']*(col + 2))
print_mines(pad_mines)

. . . . . . . . . . . .
. * * * . . . * . . . .
. . . . . . . * * . * .
. . . . . * . . * . . .
. * . . * . . * . * * .
. . . . * . . . . . . .
. . * . . . * . * . * .
. . . . . . . . . . . .

In [62]:
final_mines =[]
for i in range(1,row+1):
    line = []
    for k in range(1,col+1):
        if pad_mines[i][k] =='*':
            line.append('*')
        else:
            count = (pad_mines[i-1][k-1]=='*')+ (pad_mines[i-1][k]=='*')+(pad_mines[i-1][k+1]=='*')+\
                    (pad_mines[i][k-1]=='*')                        +(pad_mines[i][k+1]=='*')+\
                    (pad_mines[i+1][k-1]=='*')+(pad_mines[i+1][k]=='*')+(pad_mines[i+1][k+1]=='*')
            line.append(str(count))
    final_mines.append(line)

print_mines(final_mines)

* * * 1 0 2 * 3 2 1
2 3 2 2 1 3 * * 3 *
1 1 1 2 * 3 4 * 5 3
* 1 2 * 3 2 * 3 * *
2 2 3 * 3 2 3 3 4 3
1 * 2 1 2 * 2 * 2 *

#### 24.5
표준 입력으로 문자열이 입력됩니다. 입력된 문자열에서 'the'의 개수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 모든 문자가 소문자인 'the'만 찾으면 되며 'them', 'there', 'their' 등은 포함하지 않아야 합니다.

"""
the grown-ups' response, this time, was to advise me to lay aside my drawings of
boa constrictors, whether from the inside or the outside, and devote myself instead 
to geography, history, arithmetic, and grammar. That is why, at the, age of six, 
I gave up what might have been a magnificent career as a painter. 
I had been disheartened by the failure of my Drawing Number One and my Drawing
Number Two. Grown-ups never understand anything by themselves, and it is tiresome 
children to be always and forever explaining things to the.

"""

In [14]:
paragraph = input()
words =paragraph.split()
count=0
for word in words:
    if word.strip(',.') == 'the':
        count += 1
print(count)

1

In [15]:
text_list = text.split()
count_the =0
for word in text_list:
    word=word.strip("',.").lower()
    if word == 'the':
        count_the +=1
print(count_the)

NameError: name 'text' is not defined

##### 25.6
표준 입력으로 물품 가격 여러 개가 문자열 한 줄로 입력되고, 각 가격은 ;(세미콜론)으로 구분되어 있습니다. 입력된 가격을 높은 가격순으로 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 이때 가격은 길이를 9로 만든 뒤 오른쪽으로 정렬하고 천단위로 ,(콤마)를 넣으세요.

In [ ]:
prices = input().split(';')
prices = list(map(int, prices))
prices.sort(reverse=True)

for price in prices:
    price_str = f'{price:,}'.rjust(9)
    print(price_str)

1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

In [ ]:
input_str ='51900;83000;158000;367500;250000;59200;128500;1304000'"01.30일 과제.ipynb"
price_list =list(map(int, input_str.split(';')))
price_listi

ValueError: invalid literal for int() with base 10: '130400001.30일 과제.ipynb'

In [ ]:
price_list.sort(reverse=True)             # 내림차순 (descending order)정렬
price_list
for price in price_list:
    print(f'{price:9,d}')

NameError: name 'price_list' is not defined

##### 25.7
표준 입력으로 문자열 여러 개와 숫자 여러 개가 두 줄로 입력되고, 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성합니다. 다음 코드를 완성하여 딕셔너리에서 키가 'delta'인 키-값 쌍과 값이 30인 키-값 쌍을 삭제하도록 만드세요.

In [ ]:
keys = input().split()
values = map(int, input().split())
x = dict(zip(keys, values))
del x ['delta']
x={key:value for key,value in x.items() if value != 30}

print(x)

{'alpha': 10, 'bravo': 20}

##### 26.9 표준 입력으로 양의 정수 두 개가 입력됩니다. 다음 소스 코드를 완성하여 두 숫자의 공약수를 세트 형태로 구하도록 만드세요. 단, 최종 결과는 공약수의 합으로 판단합니다.

In [20]:
# 약수의 집합
div_set =set()
x =10
for i in range(1,x+1):
    if x % i==0:
        div_set.add(i)
div_set

{1, 2, 5, 10}

In [19]:
div_set = [i for i in range(1,x+1) if x % i==0]
div_set

[1, 2, 5, 10]

In [22]:
m,n =map(int,input().split())
m_set ={i for i in range(1,m+1) if m % i==0}
n_set ={i for i in range(1,n+1) if n % i==0}
print(m_set,n_set)

{1, 2, 3, 4, 6, 12} {1, 2, 4, 5, 10, 20}

In [23]:
common_divisors = m_set & n_set  # 교집합
common_divisors

{1, 2, 4}

In [24]:
sum(common_divisors)

7

In [31]:
num1,num2 = set(map(int, input().split()))
a = {i for i in range(1, num1 + 1) if num1 % i == 0}
b = {i for i in range(1, num2 + 1) if num2 % i == 0}
divisor = a & b
 
result = 0
if type(divisor) == set:
    result = sum(divisor)
 
print(result)

18