- Q1.생일을 입력으로 받아 오늘 현재의 만 나이를 계산하고,띠를 알려주세요.

In [3]:
#생년월일을 입력으로 받아서 정수로 변환하기
birth_year, birth_month, birth_day =map(int,input('생년월을 입력하세요').split())
birth_year, birth_month, birth_day

(1996, 1, 1)

In [4]:
# 오늘 날짜 구하기
import datetime
t = datetime.date.today()
t.year,t.month,t.day

(2023, 3, 30)

In [5]:
if t.month < birth_month:
    age = t.year - birth_year-1
elif t.month > birth_month:
    age = t.year - birth_year
else:
   if  t.day < birth_day:
       age = t.year - birth_year-1
   else:
       age = t.year - birth_year
print(age)

27

In [8]:
# 띠 계산
# 생년을 12로 나눈 나머지
# 0-원숭이 1- 닭.....11-양
#문자열
animals ='신유술해자축인묘진사오미'
print(animals[birth_year % 12])

자

In [9]:
animals = '원숭이 닭 개 돼지 쥐 소 호랑이 토끼 용 뱀 말 양'.split()
print(animals[birth_year % 12])

쥐

- Q2. fizzbuzz,15로 나누어지면 fizzbuzz,3으로 나누어지면 fizz,5로 나누어지면 buzz아니면 숫자

In [10]:
num =int(input('양의 정수>'))
if num % 15 == 0:
    fb = 'fizzbuzz'
elif num % 3 == 0:
    fb = 'fizz'
elif num % 5 == 0:
    fb = 'buzz'
else:
    fb = num
print(num,fb)

15 fizzbuzz

In [12]:
#신박한 방법
num =int(input('양의 정수'))
print(num,'fizz'*(num%3==0)+'buzz'*(num%5==0)or num)

3 fizz